{% include base_path %}

{% if post.header.teaser %}
  {% assign teaser = post.header.teaser %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="entry">
  {% if post.image %}
    <img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" style="width:50%;">
  {% endif %}
</div>

<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="{{ include.type | default: 'list' }}__item">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | prepend: '/images/' | prepend: base_path }}" alt="{{ post.title }}">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h2>

    {% if post.date %}
      <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: 'Latest Version:' }}</strong> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}

    {% if post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% endif %}

    {% if post.paperurl %}
      <p><a href="{{ post.paperurl }}">Download Paper</a></p>
    {% endif %}

    {% if post.slidesurl %}
      <p><a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% endif %}
  </div>
</article>
